@charset "UTF-8";
#top {
	float: right;
	margin: 0;
	padding: 0;
}
#top a {
	display: block;
	font: 12px black;
	width: 90px;
	line-height: 43px;
}
nav {
	width: 100%;
	height: 43px;
	background-color: #dad1d9;
}
nav ul {
	list-style-type: none;
	line-height: 43px;
	margin:0;
	padding: 0;
}
nav li {
	float: left;
}
nav a {
	display: block;
	width: 120px;
	font: 17px black;
	line-height: 43px;
	text-align: center;
}
nav a:link, a:visited {
	color:black;
	text-decoration: none;	
}
nav a:hover {
	color:#fff;	
}
#wrapper {
	display:grid;
  	grid-template-columns:repeat(auto-fill, minmax(300px,1fr));
  	grid-gap:2rem;
  	margin: 10px; 
  	margin-bottom: 40px;
}
article {
	padding: 10px;
	border: 1px solid #d9d4da;
	margin: 0 auto;
}
article > h2 {
	font-size:20px;
	text-decoration: none;
	margin: 5px 0;
}
article > p {
	margin: 10px 0;
}
article > img {
	width:100%;
	display: block;
	margin: 0 auto;
}
#container h1 {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-weight:lighter;
  	margin: 15px;
  	padding: 10px 0;
  	font-size: 20px;
}
#add {
	width: 600px;
	margin:0;
	float: left;
	color: #969494;
	font-size: 13px;
	line-height: 10px;
}
#cust {
	margin: 0;
	float: right;
}
form{
	text-align: center;
	padding: 20px 0 50px 0;	
}
input[name="send"] {
	text-align: center;
	width: 500px;
	height: 50px;
	font-size: 20px;
	color: white;
	background-color: #8865b7;
	border: 1px solid #868686;
}