@charset "UTF-8";
body {
	background-color: #f9f9f9;
}
header {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin: 10px 0;
	font-size: 100px;
	font-weight: bolder;
}
header a {
	text-decoration: none;
	color: #8865b7;
}
#container {
	width: 500px;
    height: 190px;
    margin: 0 auto; 
    text-align: center;
    padding: 20px 10px;
    border: 1px solid #868686;
    background-color: white;
}
form {
	margin: 20px 0;
}
input[type=submit] {
	width: 150px;
	height: 45px;
	margin: 35px 30px;
	font-size: 20px;
	background-color: #8865b7;
	border: 1px solid #868686;
	color: white;
}
